<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <!--GOOGELY FONTS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <!--NOT SURE WHAT THIS DOES???-->
    <link rel="icon" href="/file-earmark-bar-graph-fill.svg" type="image/svg+xml">

    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="../../static/css/style.css">
   
    
    <!--CHART.JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
            integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
            crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            {% block header %}{% endblock header  %}
            <ul class="nav nav-buttons"> 
                
                <li>
                    <div class="nav-button">
                    
                    </div>
                </li>
                <li>
                    <div class="nav-button">
                
                    </div>
                </li>
                <li>
                    <div class="nav-button">
                
                    </div>
                </li>
                <li>
                    <div class="nav-button">
                
                    </div>
                </li>
                <li>
                    <div class="nav-button">
                
                    </div>
                </li>
                    
                
            </ul>


        </header>

        <main>           
            <div class="card">
                <div class ="chart-container">
                    <?xml version="1.0" ?>
                    <!DOCTYPE PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg height="512px"
                        style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="A_-_161_x2C__pie_x2C__chart_x2C__presentation_x2C__diagram">
                            <g>
                                <path d="M360.961,86.161c-14.568-8.989-30.312-15.921-46.889-20.646l-43.141,161.029L360.961,86.161z" />
                                <path d="M453.867,119.929c-14.256-23.707-33.814-44.204-56.848-59.579l-94.13,146.779L453.867,119.929z" />
                                <path
                                    d="M228.815,265.389c-0.435-0.754-0.553-1.649-0.327-2.489l48.654-181.403c-14.986-3.75-30.322-5.65-45.638-5.65    c-84.775,0-159.34,57.258-181.328,139.242c-26.773,100.1,32.832,203.318,132.872,230.09c15.989,4.295,32.407,6.473,48.8,6.473    c83.652,0,157.368-55.789,180.41-136.084l-181.451-48.649C229.966,266.691,229.25,266.142,228.815,265.389z M209.345,171.995    c-3.424,12.841-15.121,21.816-28.441,21.816c-2.56,0-5.123-0.337-7.615-1.002c-7.597-2.025-13.952-6.894-17.897-13.708    c-3.944-6.814-5.001-14.75-2.977-22.347c3.471-12.854,15.185-21.825,28.489-21.825c2.561,0,5.123,0.337,7.617,1.002    c7.61,2.022,13.97,6.888,17.904,13.701C210.361,156.447,211.398,164.39,209.345,171.995z" />
                                <path d="M442.311,192.333c-3.862-12.893-9.139-25.434-15.718-37.366l-140.147,80.95L442.311,192.333z" />
                                <path
                                    d="M186.833,142.269c-1.945-0.519-3.939-0.781-5.929-0.781c-10.347,0-19.457,6.976-22.154,16.965    c-1.571,5.894-0.749,12.063,2.318,17.36c3.067,5.298,8.007,9.083,13.91,10.657c1.942,0.518,3.936,0.78,5.926,0.78    c10.353,0,19.443-6.972,22.105-16.956c1.598-5.919,0.792-12.089-2.265-17.383C197.689,147.621,192.748,143.84,186.833,142.269z" />
                                <path
                                    d="M462.166,204.439l-169.363,47.354l169.881,45.552C470.252,266.896,470.073,234.917,462.166,204.439z" />
                            </g>
                        </g>
                        <g id="Layer_1" />
                    </svg>
                   
                    {% block chart%}{% endblock chart %}

                <div class="content">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </main> 
        <footer>

        </footer>      
    
    </body>

</html>