<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <!--GOOGELY FONTS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">

    <!--NOT SURE WHAT THIS DOES???-->
    <link rel="icon" href="../../file-earmark-bar-graph-fill.svg" type="image/svg+xml">

    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="../../static/css/style.css">

    <!--CHART.JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
            integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
            crossorigin="anonymous"></script>
    </head>
    <header class="header"
    <div id="navigation-bar">
        <nav>
        <ul>
          <li class="nav-button"> <a href="{{ url_for('sample.home') }}">Home</a></li>
          <li class="nav-button"> <a href="{{ url_for('sample.sales') }}">Sales</a></li>
          <li class="nav-button"> <a href="{{ url_for('sample.index') }}">Sales</a></li>
          <li class="nav-button"> <a href="{{ url_for('sample.analysis') }}">Sales</a></li>
        </ul>
        </nav>
    </div>
    <div>
        {% block header %}{% endblock header  %}
    </div>
    </header>

    <body>

        <main>
            <!--PAC MAN BECOMES A JINJA BLOCK-->
            <div class="container">
                <div class="col-12">
                    <div class="card">
                    <div class ="chart-container">
                        {% block chart%}{% endblock chart %}
                    </div>
                    <div class="content">
                        {% block content %}{% endblock content %}
                    </div>
                </div>
                </div>
            </div>
        </main> 
        <footer>

        </footer>      
    
    </body>

</html>