<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <!--GOOGELY FONTS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">

    <!--NOT SURE WHAT THIS DOES???-->
    <link rel="icon" href="../../file-earmark-bar-graph-fill.svg" type="image/svg+xml">

    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="../../static/css/style.css">

    <!--CHART.JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
            integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
            crossorigin="anonymous"></script>
    </head>
    <header class="header">
        <nav class="navbar">
            <div class="container d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar nav-buttons">
            {#{COULD SERIOUSLY USE SOME NAV BUTTON BRH}#}
                <li>
                    <div class="nav-button">
                        <button><a href="{{ url_for('sample.home') }}">Home</a></button>
                    </div>
                </li>
                <li>
                    <div class="nav-button">
                        <button><a href="{{ url_for('sample.sales') }}">Global Sales</a></button>
                    </div>
                </li>
                <li>
                    <div class="nav-button">
                        <button><a href="{{ url_for('sample.index') }}" >Copies Sold</a></button>
                    </div>
                </li>
                           <li>
                    <div class="nav-button">
                        <button><a href="{{ url_for('sample.analysis') }}" >Analysis</a></button>
                    </div>
                </li>

            </ul>

            </div>
        </nav>
        {% block header %}{% endblock header  %}

    </header>

    <body>

        <main>
            <!--PAC MAN BECOMES A JINJA BLOCK-->
            <div class="container">
                <div class="col-12">
                    <div class="card">
                    <div class ="chart-container">
                        {% block chart%}{% endblock chart %}
                    </div>
                    <div class="content">
                        {% block content %}{% endblock content %}
                    </div>
                </div>
                </div>
            </div>
        </main> 
        <footer>

        </footer>      
    
    </body>

</html>