{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} {{ page_title }} {% endblock %}</h1>
<link rel="stylesheet" href="../../static/css/style.css">


{% endblock header %}

{% block chart %}
<div class="chartstyling">
    <canvas id="myChart" width="400" height="400"></canvas>
        <script>
        {% for game in gameInfo %}
        var ctx = document.getElementById('myChart').getContext('2d');
        Chart.defaults.global.defaultFontColor = 'black';
        var myChart = new Chart(ctx, {
            type: 'polarArea',
            data: {
                labels: ['North American Sales', 'European Sales', 'Japan Sales', 'Other Sales',],
                datasets: [{
                    label: 'Top Console Publishers',
                    data: [{{ game.naSales }}, {{ game.euSales }}, {{ game.jpSales}}, {{ game.otherSales }}],
                    backgroundColor: [
                                    '#F94144',
                                    '#F3722C',
                                    '#F8961E',
                                    '#F9844A',
                                    '#F9C74F',
                                    '#90BE6D',
                                    '#43AA8B',
                                    '#4D908E',
                                    '#577590',
                                    '#277DA1'
                                ],
                                borderColor: [
                                    '#F94144',
                                    '#F3722C',
                                    '#F8961E',
                                    '#F9844A',
                                    '#F9C74F',
                                    '#90BE6D',
                                    '#43AA8B',
                                    '#4D908E',
                                    '#577590',
                                    '#277DA1'
                                ],

                    borderWidth: 2
                }]
            },
            options: {
                cutoutPercentage: 20,
                 title: {
                    display: true,
                     position: 'bottom',
                    text: 'Sales by Region (Number represents millions)',
                 },
                legend: {
                    labels: {
                        fontColor: '#0D052D'
                    },
                    position: 'bottom'
                },
            }
        });
        {% endfor %}
    </script>
</div>
{% endblock chart %}



{% block content %}
<div class="container">
    <div class="col-12">
        <div class="row">
            <div class="col-md-6">
                {% for game in gameInfo %}
                <h1>{{game.name}}</h1>
                <div>
                    <h5><b>Year:</b> {{game.year}}</h5>
                    <h5><b>Publisher:</b> {{game.publisher}}</h5>
                    <h5><b>Platform:</b> {{game.platform}}</h5>
                    <h5><b>Genre:</b> {{game.genre}}</h5>
                </div>
                    <a href="{{ url_for('sample.home') }}"> Back to 'Game Search' </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}


