{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} Which console is King?{% endblock %}</h1>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="col-12">
        <div class="row">
            <div class="col-md-6">
                <p>Which console do you think rules all platforms?</p>
                <p>Many joined this royal rumble, but only one came out on top!</p>
                <p>Did you see that?</p>
                <p>It might be small, but the DS packs one hell of punch when it comes to game sales...</p>

                <a href="{{ url_for('sample.search') }}"> Search for Games </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block chart %}
            <div class="col-md-6">
                <canvas id="myChart" width="300" height="300"></canvas>
                    <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    Chart.defaults.global.defaultFontColor = 'black';
                    var myChart = new Chart(ctx, {
                        type: 'radar',
                        data: {
                            labels: [{% for key in copiesPer.keys() %}, "{{key}}" {% endfor %}],
                            datasets: [{
                                label: 'Top Console Sales since 2013',
                                data: [{% for value in copiesPer.values() %}, "{{value}}" {% endfor %}],
                                backgroundColor: [
                                    '#1DBDE6',
                                    '#40ABCF',
                                    '#6499B9',
                                    '#8787A2',
                                    '#AA758B',
                                    '#CE6375',
                                    '#F1515E',
                                    '#1DBDE6',
                                    '#40ABCF',
                                    '#6499B9',
                                    '#8787A2',
                                    '#AA758B',
                                    '#CE6375'
                                ],
                                borderColor: [
                                    '#1DBDE6',
                                    '#40ABCF',
                                    '#6499B9',
                                    '#8787A2',
                                    '#AA758B',
                                    '#CE6375',
                                    '#F1515E',
                                    '#1DBDE6',
                                    '#40ABCF',
                                    '#6499B9',
                                    '#8787A2',
                                    '#AA758B',
                                    '#CE6375'
                                ],
                                fill: false,
                                borderWidth: 1
                            }]
                        },
                        options: {
                            legend: {
                                labels: {
                                  fontColor: '#0D052D'
                                },
                                position: 'bottom'
                            },
                            scales: {
                            }
                        }
                    });
                    </script>
            </div>
{% endblock chart %}




