{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} Sample Index {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-12">
        <div class="row">
            <div class="col-md-6">
                <p>This starter code project is built around a 'sample.py' module. Its view files live in 'templates/sample'. It's recommended you build your own project module and template folder for your contributions to the project.</p>
                <p>This page extends the "base.html" file and inserts its various "blocks" (header, title and content) into the locations laid out for those blocks.</p>
                <p>This behaves similar to the '_Layout' feature in ASP.NET and allows you to easily keep a consistent theme across many pages and reuse elements like navbars.</p>
                <p>It can also display variables and information that is passed in to the view from the corresponding 'index' Blueprint action from the 'sample.py' module by calling the variable with double curly braces</p>
                <p>This following line is the 'message' variable from the index action:</p>
                <strong>{{ message }}</strong>
                <br>
                <strong>{{ titles }}</strong>
                <br>
                <strong>{{ num_of_games }}</strong>
                <br />
                <p>You can even easily utilize logic in these views, similar to razor! Examine the code in 'sample/index.html' to see how this line is being generated:</p>
                {% for letter in word %}
                {% if letter == "o" %}
                <span> {{ letter.capitalize() }} </span>
                {% else %}
                <span> {{ letter }} </span>
                {% endif %}
                {% endfor %}
                <p>(Always remember to close off your ifs and your loops!)</p>


                <a href="{{ url_for('sample.other_example') }}"> Next Page </a>
            </div>
            <div class="col-md-6">
                <canvas id="myChart" width="400" height="400"></canvas>
                    <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                            datasets: [{
                                label: 'Top 10 Publishers',
                                data: {{ num_of_games }},
                                backgroundColor: [
                                    '#FF768B',
                                    '#D0CF0D',
                                    '#B52118',
                                    '#0DC6E0',
                                    '#921F5D',
                                    '#D56751',
                                    '#156E2E',
                                    '#F09572',
                                    '#48F36C',
                                    '#4EC40B'
                                ],
                                borderColor: [
                                   '#FF768B',
                                    '#D0CF0D',
                                    '#B52118',
                                    '#0DC6E0',
                                    '#921F5D',
                                    '#D56751',
                                    '#156E2E',
                                    '#F09572',
                                    '#48F36C',
                                    '#4EC40B'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                    </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}


