{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} Money &#128176;Talks (Sales Per Console) {% endblock %}</h1>
{% endblock header %}

{% block content %}
<div class="input-container">
    <form action="/sample/results" method="post">
        <div class="input-group">

            <input autofocus class="form-control input-lg" name="input" placeholder="Search" style="height: 50px;"
            <div class="input-group-btn">
                <button class="btn btn-primary btn-lg" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                </svg>
                </button>
            </div>
        </div>
    </form>

    <p>Which console do you think rules all platforms?</p>
    <p>Many joined this royal rumble, but only one came out on top!</p>
    <p>Did you see that?</p>
    <p>It might be small, but the DS packs one hell of punch when it comes to releasing games...</p>
    <a href="{{ url_for('sample.home') }}"> Search for Games </a>
</div>
{% endblock content %}

{% block chart %}
            <div class="container">
                <canvas id="myChart" width="300" height="300"></canvas>
                    <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {


                            labels: ['{{ key_list[0] }}', '{{ key_list[1] }}', '{{ key_list[2] }}', '{{ key_list[3] }}', '{{ key_list[4] }}', '{{ key_list[5] }}', '{{ key_list[6] }}', '{{ key_list[7] }}', '{{ key_list[8] }}', '{{ key_list[9] }}'],
                            datasets: [{
                                data: ['{{ value_list[0] }}', '{{ value_list[1] }}', '{{ value_list[2] }}', '{{ value_list[3] }}', '{{ value_list[4] }}', '{{ value_list[5] }}', '{{ value_list[6] }}', '{{ value_list[7] }}', '{{ value_list[8] }}', '{{ value_list[9] }}'],
                                backgroundColor: [
                                    '#F94144',
                                    '#F3722C',
                                    '#F8961E',
                                    '#F9844A',
                                    '#F9C74F',
                                    '#90BE6D',
                                    '#43AA8B',
                                    '#4D908E',
                                    '#577590',
                                    '#277DA1'
                                ],
                                borderColor: [
                                    '#F94144',
                                    '#F3722C',
                                    '#F8961E',
                                    '#F9844A',
                                    '#F9C74F',
                                    '#90BE6D',
                                    '#43AA8B',
                                    '#4D908E',
                                    '#577590',
                                    '#277DA1'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            cutoutPercentage: 20,
                            legend: {
                                position: 'bottom'
                            }
                        }
                    });
                    </script>
            </div>
{% endblock chart %}





